<%= link_to("Back to Home", books_path, :class => 'back-link')%>


<h1>Edit The Book</h1>
<div>
    <%=form_for(@book, { turbo: false }) do |f| %>
        <table>
            <tr>
                <th>Book Title<th>
                <td><%=f.text_field(:title) %></td>
            </tr>
            <tr>
                <th>Author<th>
                <td><%=f.text_field(:author) %></td>
            </tr>
            <tr>
                <th>Price<th>
                <td><%=f.text_field(:price) %></td>
            </tr>
            <tr>
                <th>Date</tr>
                <td>
                    <%= f.date_select(:date, include_blank: [true, true, true]) %></td>
                </td>
            </tr>
        </table>
        <div class="form-buttons">
            <%= f.submit("Update Book") %>
        </div>
    <% end %>
</div>